@import "../../variables";

.album {
	grid-row: content-start/content-end;
	grid-column: 1 / span 1;
	justify-self: stretch;
	display: grid;
	grid-template-columns:
		[left-side-start] 1fr
		[left-side-end content-start] 4fr
		[content-end right-side-start]1fr[right-side-end];
	grid-template-rows:
		[album-info-start ] fit-content(40%)
		[album-info-end tracklist-start] fit-content(60%)
		[traklist-end];
	gap: 4rem 0;
	font-family: $font-primary;
	&-info {
		grid-column: content-start/content-end;
		grid-row: album-info-start/album-info-end;
		align-items: center;
		display: grid;
		gap: 0 2rem;
		grid-template-columns:
			[cover-start] fit-content(30%) [cover-end info-start] fit-content(70%)
			[info-end ];
		grid-template-rows:
			[name-start] fit-content(30%) [name-end artist-start] fit-content(30%)
			[artist-end tracknum-start] fit-content(20%)
			[tracknum-end duration-start] fit-content(20%)
			[duration-end];
		@media only screen and (max-width: $bp-supermed) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows:
				[img-start] fit-content(40%) [img-end name-start] fit-content(15%) [name-end artist-start] fit-content(
					15%
				)
				[artist-end tracknum-start] fit-content(15%)
				[tracknum-end duration-start] fit-content(15%)
				[duration-end];
		}
		@media only screen and (max-width: $bp-small) {
			grid-template-columns: 1fr;
		}

		&--title {
			grid-column: info-start/info-end;
			grid-row: name-start/name-end;
			align-self: start;
			margin: 0;
			padding: 0;
			@media only screen and (max-width: $bp-supermed) {
				grid-column: 1 / span 2;
				justify-self: center;
				margin-top: 2rem;
				text-align: center;
			}
		}

		&--artist {
			grid-column: info-start/info-end;
			grid-row: artist-start/artist-end;
			font-size: 1.5rem;

			text-decoration: none;
			color: black;
			@media only screen and (max-width: $bp-supermed) {
				grid-column: 1 / span 2;
				justify-self: center;
				text-align: center;
			}
		}
		&--cover {
			grid-column: cover-start/cover-end;
			grid-row: 1 /-1;
			border-radius: $img-border-radius;
			width: 100%;
			align-self: start;
			@media only screen and (max-width: $bp-supermed) {
				grid-row: img-start/img-end;
				grid-column: 1 / span 2;
				justify-self: center;
				width: 60%;
			}
		}
		&--date {
			grid-column: info-start/info-end;
			grid-row: tracknum-start/tracknum-end;
			@media only screen and (max-width: $bp-supermed) {
				grid-column: 1 / span 2;
				justify-self: center;
			}
		}
		&--tracktotal {
			grid-column: info-start/info-end;
			grid-row: tracknum-start/tracknum-end;
			margin-left: 0.5rem;
			@media only screen and (max-width: $bp-supermed) {
				grid-column: 1 / span 2;
				justify-self: center;
			}
		}
		&--duration {
			grid-column: info-start/info-end;
			grid-row: duration-start/duration-end;
			@media only screen and (max-width: $bp-supermed) {
				grid-column: 1 / span 2;
				justify-self: center;
			}
		}
	}

	&-tracklist {
		grid-column: content-start/content-end;
		grid-row: tracklist-start/tracklist-end;
		list-style: none;
		// justify-self: start;
		&--track {
			display: flex;
			justify-content: space-between;
			&_tracknumber {
				margin-right: 1rem;
				align-self: center;
				margin-left: 1rem;
			}
			&_name {
				flex-grow: 1;
				align-self: center;
			}
			&_tracklength {
				align-self: center;
			}
			&_iconlink {
				align-self: center;
				display: flex;
			}
			&_icon {
				align-self: center;
				color: black;
				transition: all 0.1s;

				&:hover {
					transform: scale(1.5);
				}
			}
		}
	}
}
