@mixin album-display {
	text-align: center;
	font-family: $font-primary;

	&-title {
		grid-column: 1/-1;
		justify-self: center;
		font-family: $font-primary;
		margin-bottom: 4rem;
	}
	&-records {
		list-style: none;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@media only screen and (max-width: $bp-largest) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media only screen and (max-width: $bp-large) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media only screen and (max-width: $bp-medium) {
			grid-template-columns: repeat(1, 1fr);
		}

		gap: 5rem;
		transition: all 0.3s;
		&--record {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			@media only screen and (hover: none) {
				grid-template-rows: 4fr 1fr;
			}

			&_title {
				display: inline-block;
				grid-row: 2 / span 1;
				z-index: 1;
				grid-column: 1 / span 1;
				opacity: 0;
				transition: all 0.2s;
				pointer-events: none;
				justify-self: center;
				align-self: start;
				text-decoration: none;
				color: black;
				text-align: center;
				display: inline-block;
				max-width: 240px;
				@media only screen and (hover: none) {
					opacity: 1;
				}
			}

			&_img {
				grid-row: 1 / -1;
				@media only screen and (hover: none) {
					grid-row: 1 / span 1;
				}
				grid-column: 1 / span 1;
				border-radius: $img-border-radius;
				transition: all 0.2s;
				width: 100%;
				&:hover {
					filter: brightness(70%);
				}
			}

			&:hover .artist-albums-records--record_title,
			&:hover .artist-singles-records--record_title,
			&:hover .artist-eps-records--record_title {
				opacity: 1;
				color: white;
				@media only screen and (hover: none) {
					color: black;
				}
			}
		}
	}
}
